[submodule "Frameworks/ASSwiftUI"]
	path = Frameworks/ASSwiftUI
	url = https://github.com/skorulis/ASSwiftUI
[submodule "Frameworks/ASKCore"]
	path = Frameworks/ASKCore
	url = https://github.com/skorulis/ASKCore
