[submodule "Frameworks/ASSwiftUI"]
	path = Frameworks/ASSwiftUI
	url = git@github.com:skorulis/ASSwiftUI.git
[submodule "Frameworks/ASKCore"]
	path = Frameworks/ASKCore
	url = git@github.com:skorulis/ASKCore.git
